html,
body {
  margin: 0;
  padding: 0;
  /* font-size: 1.05rem; */
}

canvas {
  display: block;
}

body {
  background: #191919;
  color: #eee;
  font-family: monospace;
}

input[type="range"] {
  width: 200px;
}

button {
  font-family: monospace;
}